<div class="footer">
	<div class="footer_content">
    <div class="footer_left">
        <p>Test...This is footer...</p>
    </div>
    
    <div class="footer_right">
        <ul class="footer_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Test1</a></li>
            <li><a href="#">Test2</a></li>
            <li><a href="#">Test3</a></li>
        </ul>
    </div>
   <div class="clear"></div>
   </div>
</div>