<div class="footer">
	<div class="footer_content">
    <div class="footer_left">
        <p>RSpec Tutorial </p>
        <p>By something something Aadvark </p>
    </div>
    
    <div class="footer_right">
        <ul class="footer_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Basic Syntax</a></li>
            <li><a href="#">Matchers</a></li>
            <li><a href="#">Pending test</a></li>
        </ul>
    </div>
   <div class="clear"></div>
   </div>
</div>