



<div id='cssmenu'>
<ul>
   <li><a href='index.html'><span>Home</span></a></li>
   <li class='active has-sub'><a href='intro.html'><span>Introduction</span></a>
      <ul>
         <li class='has-sub'><a href='intro.html'><span>Why choose RSpec?</span></a> </li>
         <li class='has-sub'><a href='intro.html'><span>Installing Rspec</span></a></li>
      </ul>
   </li>
   <li class='active has-sub'><a href='basic.html'><span>Basic Syntax</span></a>
      <ul>
         <li class='has-sub'><a href='basic.html'><span>Anatomy of a test case </span></a> </li>
         <li class='has-sub'><a href='basic.html'><span>Before and After</span></a></li>
      </ul>
   </li>
   <li class='active has-sub'><a href='Matchers.html'><span>Matchers</span></a>
      <ul>
         <li class='has-sub'><a href='Matchers.html'><span>Learning Objectives</span></a> </li>
         <li class='has-sub'><a href='Matchers.html'><span>Quick Review</span></a></li>
         <li class='has-sub'><a href='Matchers.html'><span>The Equality Matchers</span></a> </li>
         <li class='has-sub'><a href='Matchers.html'><span>Type Matchers </span></a></li>
         <li class='has-sub'><a href='Matchers.html'><span>Be Matchers</span></a> </li>
         <li class='has-sub'><a href='Matchers.html'><span>Predicate Matchers</span></a></li>
         <li class='has-sub'><a href='Matchers.html'><span> Match Matchers</span></a> </li>
         <li class='has-sub'><a href='Matchers.html'><span>Custom Matchers</span></a></li>
      </ul>
   </li>
   <li class='active has-sub'><a href='pending.html'><span>Pending test</span></a>
</ul>
</div>
