



<div id='cssmenu'>
<ul>
   <li><a href='index.html'><span>Home</span></a></li>
   <li class='active has-sub'><a href='#'><span>Introduction</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Why choose RSpec?</span></a> </li>
         <li class='has-sub'><a href='#'><span>Installing Rspec</span></a></li>
      </ul>
   </li>
   <li class='active has-sub'><a href='#'><span>Basic Syntax</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Anatomy of a test case </span></a> </li>
         <li class='has-sub'><a href='#'><span>Before and After</span></a></li>
      </ul>
   </li>
   <li class='active has-sub'><a href='#'><span>Matchers</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Learning Objectives</span></a> </li>
         <li class='has-sub'><a href='#'><span>Quick Review</span></a></li>
         <li class='has-sub'><a href='#'><span>The Equality Matchers</span></a> </li>
         <li class='has-sub'><a href='#'><span>Type Matchers </span></a></li>
         <li class='has-sub'><a href='#'><span>Be Matchers</span></a> </li>
         <li class='has-sub'><a href='#'><span>Predicate Matchers</span></a></li>
         <li class='has-sub'><a href='#'><span> Match Matchers</span></a> </li>
         <li class='has-sub'><a href='#'><span>Custom Matchers</span></a></li>
      </ul>
   </li>
   <li class='active has-sub'><a href='#'><span>Pending test</span></a>
</ul>
</div>
